<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disc Golf Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/d3Style.css">
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body onload="initCharts()">
    <div id="loader">
        <img id="loader-gif" src="static/images/frisbee-loader.gif" alt="description of gif" /> 
        <h1 class="loading">Loading Data</h1>
    </div>
    <div class="sidenav">
        <div class="form-group">
            <label class="group-title">Primary Feature</label>
            <select id="primarySelection" class="custom-select custom-select-sm">
                {% for f in features %}
                    <option value="{{ f.parameter }}" id="{{ f.parameter }}">{{ f.pretty_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="group-title">Secondary Feature</label>
            <select id="secondarySelection" class="custom-select custom-select-sm">
                {% for f in features[1:] %}
                    <option value="{{ f.parameter }}" id="{{ f.parameter }}">{{ f.pretty_name }}</option>
                {% endfor %}
            </select>
        </div>

        <label class="group-title">Private</label>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="private_public" checked>
            <label class="custom-control-label" for="private_public">
                Show Public Courses
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="private_private" checked>
            <label class="custom-control-label" for="private_private">
                Show Private Courses
            </label>
        </div>

        <label class="group-title">Pay</label>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="pay_free" checked>
            <label class="custom-control-label" for="pay_free">
                Show Free Courses
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="pay_paid" checked>
            <label class="custom-control-label" for="pay_paid">
                Show Paid Courses
            </label>
        </div>

        <label class="group-title"># of Holes</label>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="holes_lt9" checked>
            <label class="custom-control-label" for="holes_lt9">
                Less Than 9 Holes
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="holes_9" checked>
            <label class="custom-control-label" for="holes_9">
                9 Holes
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="holes_10to17" checked>
            <label class="custom-control-label" for="holes_10to17">
                10-17 Holes
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="holes_18" checked>
            <label class="custom-control-label" for="holes_18">
                18 Holes
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="holes_gt18" checked>
            <label class="custom-control-label" for="holes_gt18">
                More than 18 holes
            </label>
        </div>
        
        <label class="group-title">Has Water</label>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="water_with" checked>
            <label class="custom-control-label" for="water_with">
                Show Courses With Water
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="water_without" checked>
            <label class="custom-control-label" for="water_without">
                Show Courses Without Water
            </label>
        </div>

        <label class="group-title">Terrain</label>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="terrain_lWooded" checked>
            <label class="custom-control-label" for="terrain_lWooded">
                Lightly Wooded
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="terrain_mWooded" checked>
            <label class="custom-control-label" for="terrain_mWooded">
                Moderately Wooded
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="terrain_hWooded" checked>
            <label class="custom-control-label" for="terrain_hWooded">
                Heavily Wooded
            </label>
        </div>

        <label class="group-title">Landscape</label>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="landscape_flat" checked>
            <label class="custom-control-label" for="landscape_flat">
                Mostly Flat
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="landscape_mHilly" checked>
            <label class="custom-control-label" for="landscape_mHilly">
                Moderately Hilly
            </label>
        </div>
        <div class="custom-control custom-checkbox custom-checkbox-orange">
            <input class="custom-control-input custom-control-input-orange" type="checkbox" value="" id="landscape_vHilly" checked>
            <label class="custom-control-label" for="landscape_vHilly">
                Very Hilly
            </label>
        </div>
        <button id="filter-btn" type="button" class="btn btn-default">Update Dashboard</button>
    </div>
    <!-- Page content -->
    <div class="main">
        <div class="container py-5">
            <div class="jumbotron text-white jumbotron-image shadow"
                style="background-image: url(https://cdn.buttercms.com/o9NBeurtRZi82330SO3f);">
                <h2 id="title" class="mb-4">
                    Disc Golf Dashboard
                </h2>
                <p id="desc" class="mb-4">Select the primary and secondary features to plot</p>
                <p id="desc">and apply the desired filters, then click Update Dashboard</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-5">
                <div id="choropleth" class="chart"></div>
            </div>
            <div class="col-lg-12 col-xl-7">
                <div id="scatter" class="chart"></div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-lg-6 col-xl-12">
                <div id="bar" class="chart"></div>
            </div>
        </div>
        
    </div>
    <!--     
          <div>
              <INPUT TYPE="Checkbox" Name="Metadata" Value ="Private Course">Private Course
          </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Pay to Play Course">Pay to Play Course
          </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Reviews">Reviews
          </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Favorited/Wishlisted">Favorited / Wishlisted 
         </div>
          <div>
            <INPUT TYPE="Checkbox" Name= "Water Obstacle" Value ="Reviews">Water Obstacle 
        </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Reviews">Played
          </div> -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- D3 JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    <!-- plotly  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- App Logic -->
    <script type="text/javascript" src="static/js/scatter.js"></script>
    <script type="text/javascript" src="static/js/choropleth.js"></script>
    <script type="text/javascript" src="static/js/bar.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

</body>
</html>