<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disc Golf Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container py-5">
        <div class="jumbotron text-white jumbotron-image shadow"
            style="background-image: url(https://cdn.buttercms.com/o9NBeurtRZi82330SO3f);">
            <h2 class="mb-4">
                Disc Golf Dashboard
            </h2>
            <p class="mb-4">
                Use the interactive side menu to select dataset, then click submit
        </div>
    </div>
    <div class="sidenav">
        <div>
            Private
            <br>
            <INPUT TYPE="Checkbox" Name="Private" Value="All">All (default)
            <br>
            <INPUT TYPE="Checkbox" Name="Private" Value="Private_Only">Private Only
            <br>
            <INPUT TYPE="Checkbox" Name="Private" Value="Exclude_Private">Exclude Private
        </div>
        <br>
        <div>
            Pay
            <br>
            <INPUT TYPE="Checkbox" Name="Pay" Value="All">All
            <br>
            <INPUT TYPE="Checkbox" Name="Pay" Value="Pay_Only">Pay Only
            <br>
            <INPUT TYPE="Checkbox" Name="Pay" Value="Exclude_Pay">Exclude Pay
        </div>
        <br>
        <div>
            # of Holes
            <br>
            <INPUT TYPE="Checkbox" Name="#_of_Holes" Value="All">All
            <br>
            <INPUT TYPE="Checkbox" Name="#_of_Holes" Value="Less_than_9_holes">Less than 9 holes
            <br>
            <INPUT TYPE="Checkbox" Name="#_of_Holes" Value="9_holes">9 holes
            <br>
            <INPUT TYPE="Checkbox" Name="#_of_Holes" Value="10-17 holes">10-17 holes
            <br>
            <INPUT TYPE="Checkbox" Name="#_of_Holes" Value="18_holes">18 holes
            <br>
            <INPUT TYPE="Checkbox" Name="#_of_Holes" Value="More_than_18_holes">More than 18 holes
        </div>
        <br>
        <div>
            Has Water
            <br>
            <INPUT TYPE="Checkbox" Name="Has_water" Value="All">All
            <br>
            <INPUT TYPE="Checkbox" Name="Has_water" Value="Water_only">Water only
            <br>
            <INPUT TYPE="Checkbox" Name="Has_water" Value="Exclude_water">Exclude water
        </div>
        <br>
        <div>
            Terrain
            <br>
            <INPUT TYPE="Checkbox" Name="Terrain" Value="Lightly_wooded">Lightly wooded
            <br>
            <INPUT TYPE="Checkbox" Name="Terrain" Value="Moderately_wooded">Moderately wooded
            <br>
            <INPUT TYPE="Checkbox" Name="Terrain" Value="Heavily_wooded">Heavily wooded
        </div>
        <br>
        <div>
            Landscape
            <br>
            <INPUT TYPE="Checkbox" Name="Landscape" Value="Mostly_flat">Mostly flat
            <br>
            <INPUT TYPE="Checkbox" Name="Landscape" Value="Moderately_hilly">Moderately hilly
            <br>
            <INPUT TYPE="Checkbox" Name="Landscape" Value="Very_hilly">Very hilly
        </div>
        <button id="filter-btn" type="button" class="btn btn-default">Filter Data</button>
    </div>
    <!-- Page content -->
    <div class="main">
     <div id="scatter"></div>
     <div id="choropleth"></div>
    </div>
    <!--     
          <div>
              <INPUT TYPE="Checkbox" Name="Metadata" Value ="Private Course">Private Course
          </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Pay to Play Course">Pay to Play Course
          </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Reviews">Reviews
          </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Favorited/Wishlisted">Favorited / Wishlisted 
         </div>
          <div>
            <INPUT TYPE="Checkbox" Name= "Water Obstacle" Value ="Reviews">Water Obstacle 
        </div>
          <div>
              <INPUT TYPE="Checkbox" Name= "Metadata" Value ="Reviews">Played
          </div> -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- D3 JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    <!-- plotly  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- App Logic -->
    <!-- <script type="text/javascript" src="static/js/main.js"></script> -->
    <script type="text/javascript" src="static/js/scatter.js"></script>
    <script type="text/javascript" src="static/js/choropleth.js"></script>
</body>
</html>